server:
    port: 8888
spring:
    application:
        name: config-server
    cloud:
        config:
            server:
                default-label: main
                git:
                    uri: https://github.com/cagribozdemir/microservice-config-server
    profiles:
        active: dev